.service-card {
  justify-content: center;
  color: inherit;
  transition: background-color 0.3s ease;

  .card-sidebar {
    padding: $card-spacer-x $card-spacer-x 0;
  }

  .card-title {
    font-size: $body1-size;
    font-weight: $font-weight-medium;
  }

  .card-btn {
    padding: 0.5rem 2rem;
    color: $dark;
    font-weight: $font-weight-light;
    line-height: 1.25;
    background-color: $white;
    border-color: currentColor;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $secondary;
    text-decoration: none;
  }

  @include media-breakpoint-up('md') {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .card-title {
      margin-bottom: $card-spacer-x +  1rem;
    }
  }
}