// Color system
$primary: #2b80ff;
$primary--dark: #0059de;
$primary--air: #F3F7F9;
$secondary: #FF7632;
$danger: #ff6666;
$gray: #77716C;
$gray--light: #D8D6D5;
$light: #f3f3f3;
$dark: #202020;

$theme-colors: (
  "primary--dark": $primary--dark,
  "primary--air": $primary--air,
  "gray": $gray,
  "gray--light": $gray--light,
  "white": #ffffff
);


// Body
$body-color: #333;


// Paragraphs
$paragraph-margin-bottom:  0;


// Typography
$font-family-sans-serif: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-secondary: 'S-CoreDream', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1rem;
$h6-font-size: $font-size-base * 1.125;

$font-weight-light: 300;
$font-weight-medium: 500;


// Components
$border-color: #e9ecef;

$border-radius: 0.125rem;
$border-radius-sm: 0.125rem;


// Buttons + Forms
$input-btn-padding-y-lg:      .75rem !default;
$input-btn-padding-x-lg:      1.25rem !default;


// swiper
$themeColor: $primary;