.agreement-card {
  padding: $container-gutter-x * 0.5;
  background-color: $light;

  &__control-group {
    display: flex;
    flex-direction: column;

    .agreement-card__btn-detail {
      margin-left: auto;
      padding: 0.125em 0;
      color: $dark;
      font-size: $caption-size;
      font-weight: $font-weight-bold;
      text-align: left;
      text-decoration: underline;
      background-color: transparent;
      border: 0;
    }
  }

  & + .agreement-card {
    margin-top: 0.75rem;
  }

  @include media-breakpoint-up('sm') {
    &__control-group {
      flex-direction: row;
      justify-content: space-between;

      .agreement-card__btn-detail {
        margin-left: 0.125em;
      }
    }
  }
}