.member-card {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;

  .card-thumbnail {
    flex: 0 0 auto;
    width: auto;
    padding-top:$card-spacer-y;
    padding-left:$card-spacer-x;

    >img {
      border: 1px solid $border-color;
      border-radius: 50%;
    }
  }

  .card-header {
    flex: 1 1 auto;
    align-self: center;
    background-color: transparent;
    border-bottom: 0;
  }

  .card-body {
    width: 100%;
  }

  .card-title {
    font-size: $h6-font-size;
    font-weight: $font-weight-medium;
  }

  .card-text {
    font-size: $font-size-sm;
    line-height: 1.7;
  }
}