$card-justify-gutter: 0.25rem;

.card-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: $card-justify-gutter * -1;
  margin-right: $card-justify-gutter * -1;

  &__label,
  &__text {
    padding-left: $card-justify-gutter;
    padding-right: $card-justify-gutter;
  }
}