$fraction-button-size-x: 32px;
$fraction-button-size-y: 40px;

$swiper-v1-button-size: 40px;

.swiper-control-container {
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
}

.swiper-control-fraction {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: $fraction-button-size-y;
  padding-right: $fraction-button-size-x;
  padding-left: $fraction-button-size-x;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;

  [class*="material-icons"] {
    opacity: 1;
    font-size: 18px;
  }

  .swiper-pagination-fraction {
    position: static;
    margin-right: 4px;
    color: #ddd;

    .swiper-pagination-current {
      color: #fff;
      font-weight: bold;
    }
  }

  .swiper-button {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;

    &.swiper-button-prev,
    &.swiper-button-next {
      z-index: 1;
      position: absolute;
      top: 50%;
      margin-top: 0;
      color: #fff;
      background-image: none;
      transform: translateY(-50%);
    }
    &.swiper-button-prev {
      left: 0;
    }
    &.swiper-button-next {
      right: 0;
    }
    &.swiper-button-autoplay {
      color: inherit;
      background: transparent;
      border: 0;
      box-shadow: none;
      border-radius: 0;

      &:not(.is-stop) .autoplay-play,
      &.is-stop .autoplay-stop {
        display: none;
      }
    }

  }

}

.swiper--v1 {
  .swiper-button {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $swiper-v1-button-size;
    height: $swiper-v1-button-size;
    margin-top: 0;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);

    &:not(.swiper-button-disabled) {
      opacity: 0.72;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);

      &:hover,
      &:focus,
      &:active {
        opacity: 1;
      }
    }
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
}