html,body{margin:0px;padding:0px;}
table{border-collapse:collapse;}
.box-sizing{box-sizing:border-box;}
img{border:0px;}
.cursorPointer{cursor:pointer;}

.align-middle{vertical-align:middle !important;}

.fontNormal{font-weight:normal;}
.fontBold{font-weight:bold;}
.font10{font-size:10px !important;}
.font11{font-size:11px !important;}
.font12{font-size:12px !important;}
.font18{font-size:18px !important;}
.font24{font-size:24px !important;}
.fontRed{color:#a94442;}

.txtL{text-align:left !important;}
.txtC{text-align:center !important;}
.txtR{text-align:right !important;}

.border0{border:0px !important;}

.ml0{margin-left:0px !important;}
.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml50{margin-left:50px !important;}
.ml60{margin-left:60px !important;}
.ml70{margin-left:70px !important;}
.ml80{margin-left:80px !important;}
.ml90{margin-left:90px !important;}
.ml100{margin-left:100px !important;}

.mr0{margin-right:0px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}
.mr60{margin-right:60px !important;}
.mr70{margin-right:70px !important;}
.mr80{margin-right:80px !important;}
.mr90{margin-right:90px !important;}
.mr100{margin-right:100px !important;}

.mt0{margin-top:0px !important;}
.mt1{margin-top:1px !important;}
.mt2{margin-top:2px !important;}
.mt3{margin-top:3px !important;}
.mt4{margin-top:4px !important;}
.mt5{margin-top:5px !important;}
.mt6{margin-top:6px !important;}
.mt7{margin-top:7px !important;}
.mt8{margin-top:8px !important;}
.mt9{margin-top:9px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}

.mb0{margin-bottom:0px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.mb60{margin-bottom:60px !important;}
.mb70{margin-bottom:70px !important;}
.mb80{margin-bottom:80px !important;}
.mb90{margin-bottom:90px !important;}
.mb100{margin-bottom:100px !important;}

.pd0{padding:0px !important;}
.pd1{padding:1px !important;}
.pd2{padding:2px !important;}
.pd3{padding:3px !important;}
.pd4{padding:4px !important;}
.pd5{padding:5px !important;}
.pd6{padding:6px !important;}
.pd7{padding:7px !important;}
.pd8{padding:8px !important;}
.pd9{padding:9px !important;}
.pd10{padding:10px !important;}
.pd20{padding:20px !important;}
.pd30{padding:30px !important;}
.pd40{padding:40px !important;}
.pd50{padding:50px !important;}
.pd60{padding:60px !important;}
.pd70{padding:70px !important;}
.pd80{padding:80px !important;}
.pd90{padding:90px !important;}
.pd100{padding:100px !important;}

.pl0{padding-left:0px !important;}
.pl10{padding-left:10px !important;}
.pl20{padding-left:20px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pl50{padding-left:50px !important;}
.pl60{padding-left:60px !important;}
.pl70{padding-left:70px !important;}
.pl80{padding-left:80px !important;}
.pl90{padding-left:90px !important;}
.pl100{padding-left:100px !important;}

.pr0{padding-right:0px !important;}
.pr10{padding-right:10px !important;}
.pr20{padding-right:20px !important;}
.pr30{padding-right:30px !important;}
.pr40{padding-right:40px !important;}
.pr50{padding-right:50px !important;}
.pr60{padding-right:60px !important;}
.pr70{padding-right:70px !important;}
.pr80{padding-right:80px !important;}
.pr90{padding-right:90px !important;}
.pr100{padding-right:100px !important;}

.pt0{padding-top:0px !important;}
.pt8{padding-top:8px !important;}
.pt10{padding-top:10px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt50{padding-top:50px !important;}
.pt60{padding-top:60px !important;}
.pt70{padding-top:70px !important;}
.pt80{padding-top:80px !important;}
.pt90{padding-top:90px !important;}
.pt100{padding-top:100px !important;}

.pb0{padding-bottom:0px !important;}
.pb10{padding-bottom:10px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px !important;}
.pb60{padding-bottom:60px !important;}
.pb70{padding-bottom:70px !important;}
.pb80{padding-bottom:80px !important;}
.pb90{padding-bottom:90px !important;}
.pb100{padding-bottom:100px !important;}

.w50{width:50px !important;}
.w60{width:60px !important;}
.w70{width:70px !important;}
.w80{width:80px !important;}
.w90{width:90px !important;}
.w100{width:100px !important;}
.w110{width:110px !important;}
.w120{width:120px !important;}
.w130{width:130px !important;}
.w140{width:140px !important;}
.w150{width:150px !important;}
.w200{width:200px !important;}
.w300{width:300px !important;}
.w400{width:400px !important;}
.w500{width:500px !important;}

.w8per{width:8% !important;}
.w10per{width:10% !important;}
.w20per{width:20% !important;}
.w28per{width:28% !important;}
.w30per{width:30% !important;}
.w40per{width:40% !important;}
.w45per{width:45% !important;}
.w50per{width:50% !important;}
.w60per{width:60% !important;}
.w70per{width:70% !important;}
.w80per{width:80% !important;}
.w90per{width:90% !important;}
.w100per{width:100% !important;}

.h50{height:50px !important;}
.h60{height:60px !important;}
.h70{height:60px !important;}
.h80{height:60px !important;}
.h90{height:60px !important;}
.h100{height:100px !important;}
.h110{height:110px !important;}
.h120{height:120px !important;}
.h130{height:130px !important;}
.h140{height:140px !important;}
.h150{height:150px !important;}
.h200{height:200px !important;}
.h300{height:300px !important;}
.h400{height:400px !important;}
.h500{height:500px !important;}

.error{color:red;}
.success{color:#3c763d;}
.info{color:#343dca;}

.floatL {float:left;}
.floatR {float:right;}
.clear {clear:both;}

.noCount {height:40px; text-align:center;}

a.btn-primary,a.btn-success,a.btn-warning,a.btn-danger{color:#fff !important;}