@import "../utils";

.page--guide-location {
  .section-map {
    @include media-breakpoint-down('sm') {
      max-width: 100%;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }
  }

  .section-subway,
  .section-bus {
    .table-unstyled {
      th {
        width: 6rem;
      }
    }

    .badge {
      width: 5rem;
    }
  }

  .section-inter-city {
    .table--responsive-column3 {
      @include media-breakpoint-down('sm') {
        tbody {
          td + td {
            flex: 6.5rem;
            width: 6.5rem;
            max-width: 6.5rem;
          }
        }
      }
    }
  }
}