@import "../utils";

.page--intro-greeting {
  .content-bg {
    background-image: url('../../images/intro/greeting-bg.jpg');
  }

  .section {
    &-body {
      p {
        margin-bottom: $section-gutter-y * 0.375;
      }
    }

    @include media-breakpoint-up('lg') {
      font-size: $h6-font-size;
    }
  }

}