.btn-icon {
  width: $icon-size;
  height: $icon-size;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;

  &,
  &:hover {
    color: inherit;
  }

  [class*="material-icons"] {
    font-size: 32px;
  }
}