.doctor-card {

  $doctor-thumbnail-img-w-xs: 56px;
  $doctor-thumbnail-img-w-sm: 72px;
  $doctor-thumbnail-img-w: 96px;

  $doctor-card-spacer-x: 1.25rem;
  $doctor-card-spacer-y: 1.75rem;

  .card-thumbnail,
  .card-body {
    padding: $doctor-card-spacer-y $doctor-card-spacer-x;
  }

  .card-action {
    display: block;
    padding: $doctor-card-spacer-y * 0.5 $doctor-card-spacer-x;
    color: inherit;
    font-size: inherit;
    text-align: center;
    border-top: 1px solid $border-color;
    transition: color 0.2s ease, background-color 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      color: $primary;
      text-decoration: none;
      background-color: $primary--air;
    }
  }

  .card-thumbnail {
    &__img {
      display: block;
      width: 100%;
      padding-bottom: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .card-thumbnail-body {
    display: flex;

    .card-thumbnail {
      padding-left: 0;
      padding-right: 0;
      flex: 0 0 $doctor-thumbnail-img-w-xs + 16;
      max-width: $doctor-thumbnail-img-w-xs + 16;
      width: $doctor-thumbnail-img-w-xs + 16;

      &__img {
        width: $doctor-thumbnail-img-w-xs;
        margin-left: auto;
        padding-bottom: $doctor-thumbnail-img-w-xs * 4 / 3;
      }
    }
  }

  .card-title {
    margin-bottom: 1rem;
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;
  }

  .data-table {
    line-height: 1.3;

    &__row {
      &-text {
        .text-truncate--multiple {
          height: 2.6em;
        }
      }
    }
  }

  @include media-breakpoint-up('sm') {

    .card-thumbnail-body {
      .card-thumbnail {
        flex: 0 0 $doctor-thumbnail-img-w-sm + 24;
        max-width: $doctor-thumbnail-img-w-sm + 24;
        width: $doctor-thumbnail-img-w-sm + 24;

        &__img {
          width: $doctor-thumbnail-img-w-sm;
          padding-bottom: $doctor-thumbnail-img-w-sm * 4 / 3;
        }
      }
    }
  }

  @include media-breakpoint-up('xl') {

    .card-thumbnail,
    .card-body {
      padding-top: $doctor-card-spacer-y * 1.5;
      padding-bottom: $doctor-card-spacer-y * 1.5;
    }

    .card-thumbnail-body {
      .card-thumbnail {
        flex: 0 0 $doctor-thumbnail-img-w + 48;
        max-width: $doctor-thumbnail-img-w + 48;
        width: $doctor-thumbnail-img-w + 48;

        &__img {
          width: $doctor-thumbnail-img-w;
          margin-right: auto;
          padding-bottom: $doctor-thumbnail-img-w * 4 / 3;
        }
      }
    }
  }
}