$list-bullet-size: 4px;

.list-bullet {
  &,
  >li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  >li {
    position: relative;
    padding-left: $list-bullet-size * 4;

    &::before {
      content: '';
      position: absolute;
      top: 0.75em;
      left: 0;
      width: $list-bullet-size;
      height: $list-bullet-size;
      margin-top: $list-bullet-size * -0.5;
      background-color: $primary;
      border-radius: 50%;
    }

    &+li {
      margin-top: $list-bullet-size * 2;
    }
  }
}