.section {
  margin-top: $section-gutter-y-sm * 0.75;
  margin-bottom: $section-gutter-y-sm;

  &-divider {
    margin-bottom: $section-gutter-y-sm;
  }

  &-gutter {
    padding-top: $section-gutter-y-sm * 0.75;
    padding-bottom: $section-gutter-y-sm;
  }

  &-box {
    & + .section-box {
      margin-top: $section-gutter-y-sm;
    }
  }

  &-header {
    margin-bottom: $section-gutter-y-sm * 0.3125;
  }

  &-title {
    font-size: 1.375rem;
    font-weight: $font-weight-bold;
    line-height: 1.25;
  }

  &-subtitle {
    font-size: 1.125rem;
    font-weight: $font-weight-normal;
  }

  &-text {
    font-size: $body1-size;
  }

  @include media-breakpoint-up('md') {
    margin-top: $section-gutter-y * 0.75;
    margin-bottom: $section-gutter-y;

    &-divider {
      margin-bottom: $section-gutter-y;
    }

    &-gutter {
      padding-top: $section-gutter-y * 0.75;
      padding-bottom: $section-gutter-y;
    }

    &-box {
      & + .section-box {
        margin-top: $section-gutter-y;
      }
    }

    &-header {
      margin-bottom: $section-gutter-y * 0.3125;
    }

    &-title {
      font-size: 1.5rem;
    }

    &-text {
      font-size: $h6-font-size;
    }
  }

  @include media-breakpoint-up('lg') {
    &-title {
      font-size: 1.75rem;
    }
  }
}