.section {
  margin-top: $section-gutter-y * 0.625;
  margin-bottom: $section-gutter-y;

  &-divider {
    margin-bottom: $section-gutter-y-sm;
  }

  &-header {
    margin-bottom: $section-gutter-y * 0.375;
  }

  &-title {
    font-size: 1.25rem;
    font-weight: $font-weight-bold;
    line-height: 1.25;
  }

  @include media-breakpoint-up('md') {
    &-divider {
      margin-bottom: $section-gutter-y;
    }

    &-title {
      font-size: 1.5rem;
    }
  }
}